@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$font: "Degular Display";
$font2: "Poppins", sans-serif;
$font3: "Work Sans", sans-serif;

$primary-color: #020408;
$secondary-color: #1a202c;
$button-color: #171923;
$black: #000;
$white: #fff;
$whitesmoke: #f5f5f5;
$smoke: #fefefeeb;
$shadow-color: #cbc8c870;
$text-light: #686868da;
$grey: #eff1f6;
$glow-color: #03131c;
$transparent-black: #0000002e;
$comon-color: #eff1f6;
$icon-pink: #ffe5f0;
$dark-gradient: linear-gradient(90deg, rgb(86, 97, 107) 0%, rgb(180, 185, 188) 100%);

$text-gradient: linear-gradient(
  133deg,
  rgb(244, 1, 143) -8.28%,
  rgb(252, 121, 0) 38.62%,
  rgb(238, 21, 242) 92.43%
);

$transition: 0.5s linear all;
